## Instalando bibliotecas necessárias para o ambiente python

In [14]:
!pip install requests
!pip install bs4
!pip install xlrd
!pip install openpyxl
!pip install lxml

Requirement already satisfied: requests in c:\users\dionatan\anaconda3\envs\alura_pandas\lib\site-packages (2.27.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dionatan\anaconda3\envs\alura_pandas\lib\site-packages (from requests) (2021.5.30)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\dionatan\anaconda3\envs\alura_pandas\lib\site-packages (from requests) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\dionatan\anaconda3\envs\alura_pandas\lib\site-packages (from requests) (1.26.16)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dionatan\anaconda3\envs\alura_pandas\lib\site-packages (from requests) (3.4)
Requirement already satisfied: bs4 in c:\users\dionatan\anaconda3\envs\alura_pandas\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\dionatan\anaconda3\envs\alura_pandas\lib\site-packages (from bs4) (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\dionatan\anaconda3\envs\alura_pandas\lib\site-packages (from beautifulsoup4->bs4) (2.3.2.post1)
Requirement already satisfied: xlrd in c:\users\dionatan\anaconda3\envs\alura_pandas\lib\site-packages (2.0.1)
Requirement already satisfied: openpyxl in c:\users\dionatan\anaconda3\envs\alura_pandas\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\dionatan\anaconda3\envs\alura_pandas\lib\site-packages (from openpyxl) (1.1.0)
Collecting lxml
  Downloading lxml-4.9.3-cp36-cp36m-win_amd64.whl (3.8 MB)
Installing collected packages: lxml
Successfully installed lxml-4.9.3

In [2]:
import pandas as pd

In [3]:
json = open("dados/aluguel.json")
print(json.read())

[{"Tipo":"Quitinete","Bairro":"Copacabana","Quartos":1,"Vagas":0,"Suites":0,"Area":40,"Valor":1700.0,"Condominio":500.0,"IPTU":60.0},
{"Tipo":"Casa","Bairro":"Jardim Bot\u00e2nico","Quartos":2,"Vagas":0,"Suites":1,"Area":100,"Valor":7000.0,"Condominio":null,"IPTU":null},
{"Tipo":"Conjunto Comercial\/Sala","Bairro":"Barra da Tijuca","Quartos":0,"Vagas":4,"Suites":0,"Area":150,"Valor":5200.0,"Condominio":4020.0,"IPTU":1111.0},
{"Tipo":"Apartamento","Bairro":"Centro","Quartos":1,"Vagas":0,"Suites":0,"Area":15,"Valor":800.0,"Condominio":390.0,"IPTU":20.0},
{"Tipo":"Apartamento","Bairro":"Higien\u00f3polis","Quartos":1,"Vagas":0,"Suites":0,"Area":48,"Valor":800.0,"Condominio":230.0,"IPTU":null},
{"Tipo":"Apartamento","Bairro":"Vista Alegre","Quartos":3,"Vagas":1,"Suites":0,"Area":70,"Valor":1200.0,"Condominio":null,"IPTU":null},
{"Tipo":"Apartamento","Bairro":"Cachambi","Quartos":2,"Vagas":0,"Suites":0,"Area":50,"Valor":1300.0,"Condominio":301.0,"IPTU":17.0},
{"Tipo":"Casa de Condom\u00ednio","Bairro":"Barra da Tijuca","Quartos":5,"Vagas":4,"Suites":5,"Area":750,"Valor":22000.0,"Condominio":null,"IPTU":null},
{"Tipo":"Casa de Condom\u00ednio","Bairro":"Ramos","Quartos":2,"Vagas":2,"Suites":0,"Area":65,"Valor":1000.0,"Condominio":null,"IPTU":null},
{"Tipo":"Conjunto Comercial\/Sala","Bairro":"Centro","Quartos":0,"Vagas":3,"Suites":0,"Area":695,"Valor":35000.0,"Condominio":19193.0,"IPTU":3030.0}]

In [4]:
df_json = pd.read_json("dados/aluguel.json")
df_json

,Area,Bairro,Condominio,IPTU,Quartos,Suites,Tipo,Vagas,Valor
0,40,Copacabana,500.0,60.0,1,0,Quitinete,0,1700
1,100,Jardim Botânico,NaN,NaN,2,1,Casa,0,7000
2,150,Barra da Tijuca,4020.0,1111.0,0,0,Conjunto Comercial/Sala,4,5200
3,15,Centro,390.0,20.0,1,0,Apartamento,0,800
4,48,Higienópolis,230.0,NaN,1,0,Apartamento,0,800
5,70,Vista Alegre,NaN,NaN,3,0,Apartamento,1,1200
6,50,Cachambi,301.0,17.0,2,0,Apartamento,0,1300
7,750,Barra da Tijuca,NaN,NaN,5,5,Casa de Condomínio,4,22000
8,65,Ramos,NaN,NaN,2,0,Casa de Condomínio,2,1000
9,695,Centro,19193.0,3030.0,0,0,Conjunto Comercial/Sala,3,35000

In [5]:
txt = open("dados/aluguel.txt")
print(txt.read())

Tipo	Bairro	Quartos	Vagas	Suites	Area	Valor	Condominio	IPTU
Quitinete	Copacabana	1	0	0	40	1700	500	60
Casa	Jardim BotÃ¢nico	2	0	1	100	7000
Conjunto Comercial/Sala	Barra da Tijuca	0	4	0	150	5200	4020	1111
Apartamento	Centro	1	0	0	15	800	390	20
Apartamento	HigienÃ³polis	1	0	0	48	800	230
Apartamento	Vista Alegre	3	1	0	70	1200
Apartamento	Cachambi	2	0	0	50	1300	301	17
Casa de CondomÃ­nio	Barra da Tijuca	5	4	5	750	22000
Casa de CondomÃ­nio	Ramos	2	2	0	65	1000
Conjunto Comercial/Sala	Centro	0	3	0	695	35000	19193	3030

In [6]:
df_txt = pd.read_table("dados/aluguel.txt")
df_txt

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000,19193.0,3030.0

In [9]:
df_xlsx = pd.read_excel('dados/aluguel.xlsx')
df_xlsx

XLRDError: Excel xlsx file; not supported

In [17]:
# Código para Web Scraping utilizado para evitar o retorno de um HTTP Error 403.
# Erro ocorre ao tentar ler as tabelas com pd.read_html.

import requests
from bs4 import BeautifulSoup

url='https://www.federalreserve.gov/releases/h3/current/default.htm'
response = requests.get(url)
html = response.content
soup = BeautifulSoup(html, 'html.parser')
table = soup.findAll('table')
html_file = f'<html><body>{table}</body></html>'
df = pd.read_html('https://www.federalreserve.gov/releases/h3/current/default.htm')

# Como a função read_html retorna uma lista de DataFrames, basta acessar as tabelas pelos índices da lista.
# Como temos três tabelas na página usamos os índices 0, 1 ou 2 para acessar os DataFrames que buscamos
df[0]

ImportError: lxml not found, please install it

In [19]:
!pip install lxml
df_html = pd.read_html('dados/aluguel.html')

Requirement already satisfied: lxml in c:\users\dionatan\anaconda3\envs\alura_pandas\lib\site-packages (4.9.3)

ImportError: lxml not found, please install it